.login {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgba(0,0,0,0); /1* Black w/ opacity *1/ */
    backdrop-filter: blur(2px)
}

.close-button {
  /* position: relative; */
  /* top: 0px;
  left:424px;
  z-index: 2; */
  float: left;
  top: 500;
}

.modal-content {
  position: fixed;
  background-color: #fefefe;
  border: 1px solid #888;
}
