button {
  outline: none;
  border: none;
  background-color: transparent;
}

.navbar {
  position: absolute;
  border-radius: 0px;
  background-color: #00B5AD;
  min-height: 46px;
  width: 106vw;
  box-shadow:  0 6px 4px -4px rgba(0,0,0,0.7);
  left: -2vw;
  padding-bottom: 12px;
}

.navbar-profile {
  cursor: pointer;
  max-width: 25px;
  max-height: 25px;
  border-radius: 20px;
  margin-left: 8px;
}

.navbar-brand {
  position: absolute;
  padding-left: 3%;
  cursor: pointer;
  font-family: 'Pacifico', cursive;
  font-size: 1.6em;
}

.navbar-right {
  padding-top: 12px;
  display: flex;
  padding-right: 80px;
}

.navbar-link {
  font-size: 1.2em;
  font-weight: bold;
  font-family: roboto;
}
