.profile-header {
  display: flex;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.profile-img {
  border-radius: 200px;
  object-fit: cover;
  width: 220px;
  height: 220px;
  box-shadow: 3px 8px 8px;
}

.profile-info {
  display: block;
  padding-left: 40px;
  padding-top: 20px;
}

.profile-name {
  color: #00B5AD;
}

.profile-bio {

}
