
.chatbox {
  position: fixed;
  left: 78%;
  display: block;
  width: 300px;
  height: 400px;
  background-color: #00B5AD;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 4px 4px 12px lightblue;
}

.chat-header {
  display: flex;
  height: 50px;
  font-size: 18pt;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  width: 300px;
  border-radius: 20px 20px 0px 0px;
  background-color: white;
  box-shadow: 1px 3px 10px;
}

.no-convos-container {
  display: flex;
  text-align: center;
}

.no-convos-msg {
  font-family: roboto;
  font-size: 14pt;
  position: relative;
  top: 120px;
}

.user-search-bar {
  background-color: azure;
  box-shadow: 0 2px 1px 1px teal;
  width: 283px;
  height: 30px;
  position: fixed;
  border-radius: 20px;
  margin-top: 308px;
  margin-left: 8px;
}

.user-search-input {
  border: none;
  width: 80%;
  margin-right: 14px;
  outline: none;
  background-color: azure;
  position: relative;
  left: 8px;
  top: 2px;
}

.user-search-icon {
  position: relative;
  top: 5px;
  left: 8px;
}

.hide-button:hover {
  color: red;
}

.open-chat-button {
  position: fixed;
  left: 96vw;
  top: 94vh;
  width: 34px;
  height: 34px;
  color: teal;
}

.open-chat-button:hover {
  color: aquamarine;
}

.header-name {
  padding-left: 10px;
  font-family: roboto;
}

.profile {
  position: relative;
  left: 90px;
  top: -5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.message-list {
  overflow-y: auto;
  margin: 0px 8px;
}

.message-list::-webkit-scrollbar {
  display: none;
}

.message-box {
  background-color: white;
  width: 258px;
  height: 30px;
  border-radius: 20px;
  position: fixed;
  margin: -56px 22px;
  box-shadow: 1px 6px 10px 0px;
  border: none;
  outline: none;
  font-size: 12pt;
  padding: 3px 0px 0px 18px;
}

.message-bar {
  background-color: azure;
  box-shadow: 0 2px 1px 1px teal, 0 -1px 1px teal;
  width: 283px;
  height: 30px;
  position: fixed;
  border-radius: 20px;
  margin-top: 308px;
  margin-left: 8px;
}

.message-input {
  border: none;
  width: 80%;
  margin-right: 14px;
  outline: none;
  background-color: azure;
  position: relative;
  left: 14px;
  top: 3px;
}

.send-button {
  position: relative;
  color: #53ada6;
  top: 4px;
  left: 12px;
}

.send-button:hover {
  color: #53cccc;
}

.footer {
  height: 54px;
}
